<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Google Search</title>
    </head>
    <body>
        <h1>구글 검색</h1>
        <!-- https://google.com.search?q=요청받은정보 가 나오게 하는것이 목표 -->
        <form action="https://google.com/search">
            <input type="text" name="q">
            <button type="submit">검색!</button>
        </form>
    </body>
</html>