<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Lotto</title>
    </head>
    <body>
        <h1>로또</h1>
        <p>보너스 번호는 제일 마지막에 입력해 주세요.</p>
        <form action="/lotto_result ">
            로또회차 : <input type="number" name="round"><br />
            로또번호 : <input type="text" name="numbers"><br />
            <button type="submit">제출하기</button>
        </form>
    </body>
</html>