<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ping</title>
    </head>
    <body>
        <!-- action은 form 을 보내는 url을 정의하는 곳 -->
        <form action="/pong">           
            <input type="text" name="age">
            <button type="submit">제출하기</button>
            <button type="reset">취소</button>
        </form>
    </body>
</html>